/build*/
/out/
/stage/
/deps/
/local/
/assets/fnv-meshes/
/.vs/
/__pycache__/
/.pytest_cache/
/.venv/

CMakeUserPresets.json
*.user
*.suo
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.log
*.dmp
*.zip
*.7z
